* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

body {
  background: #288633;
  background: linear-gradient(90deg, #288633 0%, #1a4b20 39%, #011404 100%); }

.navbar-bar, .redes {
  margin-right: 15%; }

.firstSection {
  background-color: #14635600;
  padding: 5%; }

.titulo {
  padding-top: 10%;
  color: #f8db70; }
  .titulo p {
    color: #FFF1BD; }

h1 {
  color: #f8db70; }

h2 {
  color: #f8db70; }

h3 {
  color: #FFF1BD; }

.mint {
  padding-top: 10%; }

.privacidad, p, li {
  color: #FFF1BD; }

/*Movil*/
/* MEDIA MOVIL INFO */
/* MEDIA MOVIL REGISTRO */
@media (max-width: 780px) and (orientation: portrait) {
  .contract {
    font-size: 0.8rem !important; }
  p {
    font-size: 0.8rem; }
  .textBuy {
    display: flex !important;
    flex-direction: column !important;
    text-align: justify;
    font-size: 0.7rem !important; }
  .heros {
    display: flex !important;
    flex-direction: column !important;
    width: 250px !important;
    height: 200px !important;
    margin: 0% auto !important; } }

footer {
  margin: 0%;
  text-align: center;
  display: flex;
  flex-direction: column; }
  footer img {
    height: 3%;
    width: 3%; }

.footerElementos {
  color: white;
  text-align: center;
  padding: 2%;
  margin: 0% 5%; }

.footerLinks {
  font-size: 1rem;
  margin: 0% 10px;
  color: white;
  text-decoration: none; }

.socialNetwork img {
  margin: 0 auto; }
