body{
    background: rgb(40,134,51);
background: linear-gradient(90deg, rgba(40,134,51,1) 0%, rgba(26,75,32,1) 39%, rgba(1,20,4,1) 100%);;
}


.navbar-bar , .redes{
    margin-right: 15%;
}

.firstSection{
    background-color: #14635600;
    padding:5% ;
}

.titulo{
    padding-top: 10%;
    color: #f8db70;
    p{
        color:#FFF1BD ;
    }

}
h1{
    color: #f8db70
}
h2{
    color: #f8db70
}

h3{
    color: #FFF1BD;
}

.mint{
    padding-top: 10%;
}
.privacidad, p, li {
    color: #FFF1BD;
  }

